@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 15%;
  background: var(--bs-link-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  color: #ffffff;
  font-weight: 700;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#loading {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 25px);
  border: 4px solid var(--bs-link-color);
  border-top-color: transparent;
  border-radius: 100%;

  animation: circle infinite 0.75s linear;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.col-form-label {
  text-align: center;
  color: var(--bs-link-color);
}

.nav-tabs {
  margin-bottom: 10px
}

.content-box {
  width: 70%;
  min-height: 50%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content-box > div {
  width: calc(50% - 5px);
}

.content-box > #log-box {
  height: 100%;
  max-height: 50vh;
  margin-right: 10px;
  background: #efefef;
  overflow-y: scroll;
}

#format-convert [name$='content'] {
  opacity: .4;
}
